[Unit]
Description=SheepVibes App Container
After=sheepvibes-redis.container
Requires=sheepvibes-redis.container

[Container]
ContainerName=sheepvibes-app
Image=localhost/sheepvibes-app:latest
Pod=sheepvibespod.pod
Volume=sheepvibes-db.volume:/app/data
Environment=DATABASE_PATH=/app/data/sheepvibes.db
Environment=CACHE_REDIS_URL=redis://localhost:6379/0
Environment=FLASK_APP=backend.app
Environment=PYTHONPATH=/app
Environment=UPDATE_INTERVAL_MINUTES=15
Environment=FLASK_RUN_HOST=0.0.0.0
Restart=on-failure
TimeoutStartSec=180
