[Unit]
Description=SheepVibes Redis Container

[Container]
ContainerName=sheepvibes-redis
Image=docker.io/redis:7.2-alpine
Pod=sheepvibespod.pod
Volume=sheepvibes-redis.volume:/data
Restart=on-failure
TimeoutStartSec=90
