[Unit]
Description=SheepVibes Valkey Container

[Container]
ContainerName=sheepvibes-valkey
Image=docker.io/valkey/valkey:9.1.1-alpine
Pod=sheepvibespod.pod
Volume=sheepvibes-valkey.volume:/data

[Service]
Restart=on-failure
TimeoutStartSec=90
